body {
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/982/original/banner_hogwarts.jpg?1666613277");
}

.app {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50px;
  max-width: 45%;
  background-color: rgba(168, 124, 48, 0.589);
  color: rgb(63, 31, 18);
  box-shadow: 4px 5px 15px 8px rgba(196, 155, 101, 0.76);
  border-radius: 10px;
}

.location {
  position: relative;
  text-align: left;
  top: 24px;
  font-size: 30px;
}
.air {
  position: absolute;
  left: 175px;
  top: 34px;
  font-size: 20px;
}

.new-city {
  position: relative;
  text-align: right;
}
input[type="text"] {
  border: 1px solid;
  border-radius: 5px;
  border-radius: 40px;
  padding: 5px;
  background-color: rgb(206, 178, 126);
  border-color: rgb(91, 43, 21);
  box-shadow: 1px 2px 7px 4px rgba(141, 105, 60, 0.66);
}
input[type="text"]:focus {
  transition: 200ms ease-in-out;
  background: rgb(239, 216, 174);
  border-color: rgb(91, 43, 21);
}
.search-emoji {
  top: 1px;
  position: relative;
  left: 2px;
  bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background: rgb(206, 178, 126);
  border-color: rgb(91, 43, 21);
  box-shadow: 1px 2px 7px 4px rgba(141, 105, 60, 0.66);
}
.search-emoji:hover {
  transition: 100ms ease-in-out;
  background: rgb(239, 216, 174);
  border-color: rgb(91, 43, 21);
}
.magicCity {
  border: 1px solid;
  position: absolute;
  top: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 10px;
  padding: 4px;
  background-color: rgb(206, 178, 126);
  border-color: rgb(91, 43, 21);
  box-shadow: 1px 2px 7px 4px rgba(141, 105, 60, 0.66);
}
.magicCity:hover {
  background: rgb(239, 216, 174);
  border-color: rgb(91, 43, 21);
}
.current-day {
  font-size: 25px;
  position: relative;
  bottom: 45px;
}
.current-weather {
  position: relative;
  bottom: 30px;
  font-size: 110px;
  line-height: 170px;
}
.current-temp {
  position: absolute;
  top: 140px;
  left: 158px;
  font-size: 38px;
}
.degreeC {
  position: absolute;
  top: 100px;
  left: 160px;
  font-size: 26px;
  color: rgb(63, 31, 18);
}
.degreeF {
  position: absolute;
  top: 100px;
  left: 210px;
  font-size: 26px;
  color: rgb(63, 31, 18);
}
.degreeC:hover {
  color: rgb(239, 216, 174);
}
.degreeF:hover {
  color: rgb(239, 216, 174);
}
.stick {
  position: absolute;
  top: 100px;
  left: 195px;
  font-size: 26px;
}
.current-time {
  position: absolute;
  top: 200px;
  left: 158px;
  font-size: 26px;
}
.precipitation {
  font-size: 18px;
  position: relative;
  text-align: right;
  left: 360px;
  top: 153px;
}
.wind {
  font-size: 18px;
  position: relative;
  text-align: right;
  left: 360px;
  top: 194px;
}
.myLink {
  display: inline;
  margin: 0 auto;
  color: rgba(88, 73, 43, 0.683);
  cursor: pointer;
}
.mylink:hover {
  color: rgb(91, 43, 21);
}
.linkName {
  display: inline;
  margin: 0 auto;
  color: rgb(91, 43, 21);
}
.WeatherForecast {
  width: 100%;
  color: rgb(86, 38, 20);
  background: rgba(206, 178, 126, 0.683);
  padding: 20px;
  padding-right: 5px;
  border-radius: 15px;
  margin: 10px 1px;
}
.forecast-time {
  font-size: 18px;
  line-height: 50px;
}
.forecast-emoji {
  font-size: 28px;
}
.forecast-temperature {
  font-size: 16px;
  line-height: 30px;
}
